In [14]:
import pandas as pd
import numpy as numpy
from datetime import datetime, timedelta

In [16]:
sales_data = pd.read_csv('sales_data.csv')
sales_data

,order_id,product_id,customer_id,order_date,quantity,price_per_unit,total_price,payment_method,region
0,1,101,1001,2022-02-15,2,500,1000,Карта,Север
1,2,102,1002,2022-03-20,1,800,800,Наличные,Юг
2,3,103,1003,2022-03-25,3,300,900,Карта,Запад
3,4,104,1001,2022-04-10,2,400,800,Карта,Восток
4,5,105,1004,2022-04-15,1,700,700,Наличные,Север
5,6,106,1005,2022-05-05,2,600,1200,Карта,Юг
6,7,107,1003,2022-05-20,1,200,200,Наличные,Запад
7,8,108,1006,2022-06-01,3,450,1350,Карта,Восток
8,9,109,1007,2022-06-10,1,1000,1000,Карта,Север
9,10,110,1004,2022-06-15,2,350,700,Наличные,Юг
10,11,111,1008,2022-07-02,1,750,750,Карта,Запад
11,12,112,1009,2022-07-15,4,275,1100,Карта,Восток
12,13,113,1010,2022-08-05,1,900,900,Наличные,Север
13,14,114,1003,2022-08-10,2,400,800,Карта,Юг
14,15,115,1011,2022-08-20,1,650,650,Карта,Запад
15,16,116,1012,2022-09-03,3,300,900,Наличные,Восток
16,17,117,1013,2022-09-15,1,550,550,Карта,Север
17,18,118,1014,2022-10-01,2,600,1200,Карта,Юг
18,19,119,1009,2022-10-10,1,150,150,Наличные,Запад
19,20,120,1015,2022-11-05,3,450,1350,Карта,Восток
20,21,121,1001,2022-11-15,1,950,950,Карта,Север
21,22,122,1006,2022-12-02,2,300,600,Наличные,Юг
22,23,123,1016,2022-12-10,1,800,800,Карта,Запад
23,24,124,1003,2023-01-05,3,200,600,Карта,Восток
24,25,125,1010,2023-01-15,1,700,700,Наличные,Север
25,26,126,1007,2023-02-01,2,500,1000,Карта,Юг
26,27,127,1017,2023-02-20,1,300,300,Карта,Запад
27,28,128,1008,2023-03-05,4,250,1000,Наличные,Восток
28,29,129,1011,2023-03-15,1,1100,1100,Карта,Север
29,30,130,1018,2023-03-30,2,350,700,Карта,Юг
30,31,131,1001,2023-04-10,1,400,400,Карта,Север
31,32,132,1002,2023-04-15,2,600,1200,Наличные,Юг
32,33,133,1003,2023-04-20,1,250,250,Карта,Запад
33,34,134,1006,2023-05-05,3,300,900,Наличные,Восток
34,35,135,1007,2023-05-20,2,750,1500,Карта,Север
35,36,136,1011,2023-06-01,1,300,300,Карта,Юг
36,37,137,1003,2023-06-10,4,200,800,Наличные,Запад
37,38,138,1004,2023-06-15,1,500,500,Карта,Восток
38,39,139,1009,2023-07-02,2,700,1400,Карта,Север
39,40,140,1010,2023-07-15,1,450,450,Карта,Юг

In [17]:
products_data = pd.read_csv('products_data.csv')
products_data

    product_id                        product_name    category manufacturer
0          101              Ноутбук HP Pavilion 15    Ноутбуки            A
1          102         Смартфон Samsung Galaxy S21   Смартфоны            B
2          103              Планшет Apple iPad Air    Планшеты            C
3          104            Наушники Sony WH-1000XM4    Наушники            D
4          105                Телевизор LG OLED CX  Телевизоры            E
5          106   Ноутбук Lenovo ThinkPad X1 Carbon    Ноутбуки            A
6          107              Смартфон iPhone 13 Pro   Смартфоны            C
7          108       Планшет Samsung Galaxy Tab S7    Планшеты            B
8          109    Наушники Bose QuietComfort 35 II    Наушники            E
9          110         Телевизор Sony Bravia X900H  Телевизоры            D
10         111                 Ноутбук Dell XPS 15    Ноутбуки            E
11         112               Смартфон Xiaomi Mi 11   Смартфоны            D
12         113          Планшет Huawei MatePad Pro    Планшеты            C
13         114           Наушники JBL Tune 750BTNC    Наушники            A
14         115         Телевизор Samsung QLED Q80T  Телевизоры            B
15         116       Ноутбук ASUS ROG Zephyrus G14    Ноутбуки            C
16         117             Смартфон Google Pixel 6   Смартфоны            D
17         118          Планшет Lenovo Tab P11 Pro    Планшеты            E
18         119             Наушники Beats Solo Pro    Наушники            A
19         120             Телевизор Sony A8H OLED  Телевизоры            B
20         121             Ноутбук HP Spectre x360    Ноутбуки            C
21         122              Смартфон OnePlus 9 Pro   Смартфоны            D
22         123           Планшет Amazon Fire HD 10    Планшеты            E
23         124         Наушники Sennheiser HD 660S    Наушники            A
24         125        Телевизор LG NanoCell NANO90  Телевизоры            B
25         126  Ноутбук Microsoft Surface Laptop 4    Ноутбуки            C
26         127           Смартфон Oppo Find X3 Pro   Смартфоны            D
27         128          Планшет Lenovo Yoga Tab 13    Планшеты            E
28         129               Наушники AKG K712 Pro    Наушники            A
29         130         Телевизор Samsung The Frame  Телевизоры            B

In [19]:
sales_data['order_date'] = pd.to_datetime(sales_data['order_date'])
sales_data

,order_id,product_id,customer_id,order_date,quantity,price_per_unit,total_price,payment_method,region
0,1,101,1001,2022-02-15,2,500,1000,Карта,Север
1,2,102,1002,2022-03-20,1,800,800,Наличные,Юг
2,3,103,1003,2022-03-25,3,300,900,Карта,Запад
3,4,104,1001,2022-04-10,2,400,800,Карта,Восток
4,5,105,1004,2022-04-15,1,700,700,Наличные,Север
5,6,106,1005,2022-05-05,2,600,1200,Карта,Юг
6,7,107,1003,2022-05-20,1,200,200,Наличные,Запад
7,8,108,1006,2022-06-01,3,450,1350,Карта,Восток
8,9,109,1007,2022-06-10,1,1000,1000,Карта,Север
9,10,110,1004,2022-06-15,2,350,700,Наличные,Юг
10,11,111,1008,2022-07-02,1,750,750,Карта,Запад
11,12,112,1009,2022-07-15,4,275,1100,Карта,Восток
12,13,113,1010,2022-08-05,1,900,900,Наличные,Север
13,14,114,1003,2022-08-10,2,400,800,Карта,Юг
14,15,115,1011,2022-08-20,1,650,650,Карта,Запад
15,16,116,1012,2022-09-03,3,300,900,Наличные,Восток
16,17,117,1013,2022-09-15,1,550,550,Карта,Север
17,18,118,1014,2022-10-01,2,600,1200,Карта,Юг
18,19,119,1009,2022-10-10,1,150,150,Наличные,Запад
19,20,120,1015,2022-11-05,3,450,1350,Карта,Восток
20,21,121,1001,2022-11-15,1,950,950,Карта,Север
21,22,122,1006,2022-12-02,2,300,600,Наличные,Юг
22,23,123,1016,2022-12-10,1,800,800,Карта,Запад
23,24,124,1003,2023-01-05,3,200,600,Карта,Восток
24,25,125,1010,2023-01-15,1,700,700,Наличные,Север
25,26,126,1007,2023-02-01,2,500,1000,Карта,Юг
26,27,127,1017,2023-02-20,1,300,300,Карта,Запад
27,28,128,1008,2023-03-05,4,250,1000,Наличные,Восток
28,29,129,1011,2023-03-15,1,1100,1100,Карта,Север
29,30,130,1018,2023-03-30,2,350,700,Карта,Юг
30,31,131,1001,2023-04-10,1,400,400,Карта,Север
31,32,132,1002,2023-04-15,2,600,1200,Наличные,Юг
32,33,133,1003,2023-04-20,1,250,250,Карта,Запад
33,34,134,1006,2023-05-05,3,300,900,Наличные,Восток
34,35,135,1007,2023-05-20,2,750,1500,Карта,Север
35,36,136,1011,2023-06-01,1,300,300,Карта,Юг
36,37,137,1003,2023-06-10,4,200,800,Наличные,Запад
37,38,138,1004,2023-06-15,1,500,500,Карта,Восток
38,39,139,1009,2023-07-02,2,700,1400,Карта,Север
39,40,140,1010,2023-07-15,1,450,450,Карта,Юг

In [20]:
merge_data = sales_data.merge(products_data, on='product_id')
merge_data

,order_id,product_id,customer_id,order_date,quantity,price_per_unit,total_price,payment_method,region,product_name,category,manufacturer
0,1,101,1001,2022-02-15,2,500,1000,Карта,Север,Ноутбук HP Pavilion 15,Ноутбуки,A
1,2,102,1002,2022-03-20,1,800,800,Наличные,Юг,Смартфон Samsung Galaxy S21,Смартфоны,B
2,3,103,1003,2022-03-25,3,300,900,Карта,Запад,Планшет Apple iPad Air,Планшеты,C
3,4,104,1001,2022-04-10,2,400,800,Карта,Восток,Наушники Sony WH-1000XM4,Наушники,D
4,5,105,1004,2022-04-15,1,700,700,Наличные,Север,Телевизор LG OLED CX,Телевизоры,E
5,6,106,1005,2022-05-05,2,600,1200,Карта,Юг,Ноутбук Lenovo ThinkPad X1 Carbon,Ноутбуки,A
6,7,107,1003,2022-05-20,1,200,200,Наличные,Запад,Смартфон iPhone 13 Pro,Смартфоны,C
7,8,108,1006,2022-06-01,3,450,1350,Карта,Восток,Планшет Samsung Galaxy Tab S7,Планшеты,B
8,9,109,1007,2022-06-10,1,1000,1000,Карта,Север,Наушники Bose QuietComfort 35 II,Наушники,E
9,10,110,1004,2022-06-15,2,350,700,Наличные,Юг,Телевизор Sony Bravia X900H,Телевизоры,D
10,11,111,1008,2022-07-02,1,750,750,Карта,Запад,Ноутбук Dell XPS 15,Ноутбуки,E
11,12,112,1009,2022-07-15,4,275,1100,Карта,Восток,Смартфон Xiaomi Mi 11,Смартфоны,D
12,13,113,1010,2022-08-05,1,900,900,Наличные,Север,Планшет Huawei MatePad Pro,Планшеты,C
13,14,114,1003,2022-08-10,2,400,800,Карта,Юг,Наушники JBL Tune 750BTNC,Наушники,A
14,15,115,1011,2022-08-20,1,650,650,Карта,Запад,Телевизор Samsung QLED Q80T,Телевизоры,B
15,16,116,1012,2022-09-03,3,300,900,Наличные,Восток,Ноутбук ASUS ROG Zephyrus G14,Ноутбуки,C
16,17,117,1013,2022-09-15,1,550,550,Карта,Север,Смартфон Google Pixel 6,Смартфоны,D
17,18,118,1014,2022-10-01,2,600,1200,Карта,Юг,Планшет Lenovo Tab P11 Pro,Планшеты,E
18,19,119,1009,2022-10-10,1,150,150,Наличные,Запад,Наушники Beats Solo Pro,Наушники,A
19,20,120,1015,2022-11-05,3,450,1350,Карта,Восток,Телевизор Sony A8H OLED,Телевизоры,B
20,21,121,1001,2022-11-15,1,950,950,Карта,Север,Ноутбук HP Spectre x360,Ноутбуки,C
21,22,122,1006,2022-12-02,2,300,600,Наличные,Юг,Смартфон OnePlus 9 Pro,Смартфоны,D
22,23,123,1016,2022-12-10,1,800,800,Карта,Запад,Планшет Amazon Fire HD 10,Планшеты,E
23,24,124,1003,2023-01-05,3,200,600,Карта,Восток,Наушники Sennheiser HD 660S,Наушники,A
24,25,125,1010,2023-01-15,1,700,700,Наличные,Север,Телевизор LG NanoCell NANO90,Телевизоры,B
25,26,126,1007,2023-02-01,2,500,1000,Карта,Юг,Ноутбук Microsoft Surface Laptop 4,Ноутбуки,C
26,27,127,1017,2023-02-20,1,300,300,Карта,Запад,Смартфон Oppo Find X3 Pro,Смартфоны,D
27,28,128,1008,2023-03-05,4,250,1000,Наличные,Восток,Планшет Lenovo Yoga Tab 13,Планшеты,E
28,29,129,1011,2023-03-15,1,1100,1100,Карта,Север,Наушники AKG K712 Pro,Наушники,A
29,30,130,1018,2023-03-30,2,350,700,Карта,Юг,Телевизор Samsung The Frame,Телевизоры,B

1. В каком регионе было продано наибольшее количество продуктов категории "Смартфоны"?

In [21]:
smartphone = merge_data[merge_data['category'] == 'Смартфоны']

In [23]:
region_with_most_smartphone_sales = smartphone.groupby('region')['quantity'].sum().idxmax()
region_with_most_smartphone_sales

'Восток'

2. Какова разница между максимальной и минимальной средней ценой продуктов категории "Ноутбуки" между всеми производителями? Ответ округлите до целых.

In [24]:
laptops = merge_data[merge_data['category'] == 'Ноутбуки']

In [27]:
manufacturer_avg_price = laptops.groupby('manufacturer')['price_per_unit'].mean()
round(max(manufacturer_avg_price) - min(manufacturer_avg_price))

200

3. Какой покупатель совершил заказы на наибольшую сумму по всем временам?

In [29]:
customer_total_spending = sales_data.groupby('customer_id')['total_price'].sum()
customer_total_spending

customer_id
1001    3150
1002    2000
1003    3550
1004    1900
1005    1200
1006    2850
1007    3500
1008    1750
1009    2650
1010    2050
1011    2050
1012     900
1013     550
1014    1200
1015    1350
1016     800
1017     300
1018     700
Name: total_price, dtype: int64

In [31]:
top_customer = customer_total_spending.idxmax()
top_customer

1003

4. Какова доля продаж продуктов категории "Планшеты" от общей выручки за все время? Ответ округлите до 2 знака после запятой. Разделитель разряда - точка.

In [32]:
tablets_data = merge_data[merge_data['category'] == 'Планшеты']

In [34]:
taplets_revenue = tablets_data['total_price'].sum() / merge_data['total_price'].sum()
round(taplets_revenue, ndigits=2)

0.25

5. Какова разница в средней цене продуктов категории "Смартфоны" между двумя самыми крупными регионами по продажам? Ответ округлите до целых.

In [35]:
region_revenue = merge_data.groupby('region')['total_price'].sum()

In [36]:
top2_regions = region_revenue.nlargest(2)
top2_regions

region
Восток    7100
Юг        7000
Name: total_price, dtype: int64

In [58]:
top_regions_smatrphones = merge_data[(merge_data['region'].isin(top2_regions.index)) & (merge_data['category'] == 'Смартфоны')]
avg_price_by_region = top_regions_smatrphones.groupby('region')['price_per_unit'].mean()
price_difference = avg_price_by_region.diff().abs().iloc[-1]
round(price_difference)

275

6. Сколько в среднем уникальных категорий продуктов было продано по всем регионам?

In [59]:
unique_categories = merge_data.groupby('region')['category'].nunique()
round(unique_categories.mean())

5

7. Какой производитель представлен в наибольшем количестве различных категорий продуктов?

In [45]:
unique_manufacturer = merge_data.groupby('manufacturer')['category'].nunique()
unique_manufacturer.idxmax()

'E'

8. В каком месяце было продано больше всего продуктов категории "Планшеты" в регионе "Север"?

In [46]:
north_tablets = merge_data[(merge_data['category'] == 'Планшеты') & (merge_data['region'] == 'Север')]
north_tablets['month'] = north_tablets['order_date'].dt.month
north_tablets.groupby('month')['quantity'].sum().idxmax()

C:\Users\USER\AppData\Local\Temp\ipykernel_11296\3645416625.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north_tablets['month'] = north_tablets['order_date'].dt.month

8

9. Какой производитель продал продукты на наибольшую сумму в регионе "Юг" за март 2023 года?

In [47]:
south_march_2023 = merge_data[(merge_data['region'] == 'Юг') & (merge_data['order_date'].dt.month == 3) & (merge_data['order_date'].dt.year == 2023)]
manufacturer_revenue_south_march_2023 = south_march_2023.groupby('manufacturer')['total_price'].sum()
manufacturer_highest_revenue = manufacturer_revenue_south_march_2023.idxmax()
manufacturer_highest_revenue

'B'

10. Сколько покупателей совершили заказы на продукты хотя бы трех разных категорий?

In [50]:
customer_unique_categories = merge_data.groupby('customer_id')['category'].nunique()
multi_cus = customer_unique_categories[customer_unique_categories >= 3]
number_multi_cus = len(multi_cus)
number_multi_cus

1

11. Какова доля продаж продуктов производителя "C" от общей выручки за все время в регионе "Север"? Ответ округлите до 2 знака после запятой. В качестве разделителя разрядов используйте точку.

In [52]:
c_north = merge_data[(merge_data['manufacturer'] == 'C') & (merge_data['region'] == 'Север')]
revenue_ratio = c_north['total_price'].sum() / merge_data[(merge_data['region'] == 'Север')]['total_price'].sum()
round(revenue_ratio, ndigits=2)

0.27

12. Найдите покупателей, которые купили у более чем 15% уникальных производителей. Если таких покупателей несколько - напишите их через запятую с пробелом в порядке возрастания.

Примечание: Уникальными производителями считайте уникальную связку "Категория = Производитель".

In [53]:
total_manufactures = int(merge_data.groupby(['category', 'manufacturer'])['manufacturer'].agg({'nunique'}).sum())
unique_manufacturer_per_customer = merge_data.groupby(['customer_id', 'category', 'manufacturer'])['manufacturer'].agg({'nunique'})
percent_from_total = unique_manufacturer_per_customer.groupby('customer_id').sum().apply(lambda x: x / total_manufactures).reset_index()
customers_with_more_than15 = percent_from_total[percent_from_total['nunique'] > 0.15]
customers_with_more_than15['customer_id'].tolist()

C:\Users\USER\AppData\Local\Temp\ipykernel_11296\4087905558.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  total_manufactures = int(merge_data.groupby(['category', 'manufacturer'])['manufacturer'].agg({'nunique'}).sum())

[1001, 1003]

13. Какое максимальное количество продуктов было продано в один заказ?

In [54]:
max_quantity_per_order = sales_data.groupby('order_id')['quantity'].sum().max()
max_quantity_per_order

4

14. Какой производитель имеет самую высокую среднюю цену продукта среди всех категорий?

In [56]:
average_price_per_manufacturer = merge_data.groupby(['manufacturer', 'category'])['price_per_unit'].mean()
manufacturer_with_highest_average_price = average_price_per_manufacturer.groupby('manufacturer').mean().idxmax()
manufacturer_with_highest_average_price

'E'

15. Каково общее количество уникальных производителей, чьи продукты были куплены менее чем в 3 регионах?

In [57]:
unique_regions_per_manufacturer = merge_data.groupby(['manufacturer', 'region'])['region'].nunique()
manufacturers_with_products_in_multiple_regions = unique_regions_per_manufacturer.groupby('manufacturer').apply(lambda x: (len(x) <= 2))
total = manufacturers_with_products_in_multiple_regions.sum()
total

0